<html>
  <head>
    <meta charset="utf-8">
    <!-- encoding must be set for mocha's special characters to render properly -->
    <link rel="stylesheet" href="../../node_modules/mocha/mocha.css" />
  </head>
  <body>
    <div id="container">
      <div id="quotes">
      
      </div>
    </div> 

    <script id="quotes-template" type="text/template">
      <ul> 
        <li><%= source %></li> 
        <li><%= context %></li>
        <li><%= quote %></li>
        <li><%= theme %></li>
      </ul> 
    </script> 
    <div id="mocha"></div>
    <script src="../../node_modules/mocha/mocha.js"></script>
    <script src="../../node_modules/chai/chai.js"></script>
    <script>
      mocha.setup('bdd')
      expect = chai.expect
      chai.should()  
    </script> 
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/underscore/underscore-min.js"></script>
    <script src="../../node_modules/backbone/backbone-min.js"></script>
    <script src="../app.js"></script>
    <script src="test.js"></script>
    <script>
      mocha.run()
    </script> 
  </body>
</html>